:root {
    --color-black: 0, 0, 0, 1;
    --color-opacity: 0, 0, 0, 0;
    --vignette: linear-gradient(to right, rgba(var(--color-black)) 0%, rgba(var(--color-black)) 10%, rgba(var(--color-opacity)) 25%, rgba(var(--color-opacity)) 50%, rgba(var(--color-opacity)) 75%, rgba(var(--color-black)) 90%, rgba(var(--color-black)) 100%);
}

#wrapper {
    display: none;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    margin: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.2);
    z-index: -1;
}

.static {
    background: rgba(0, 8, 19, 0.9);
    margin: auto;
    width: auto;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(47, 118, 184);
    border-radius: 15px 0 15px 0;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 1em rgba(0, 183, 255, 0.5);
}

.bg1::after {
    background: var(--vignette), url("../img/gamepad.jpg") no-repeat -150px center;
    width: 100%;
    background-size: cover;
}

.bg2::after {
    background: var(--vignette), url("../img/wire-frame_web_multi.jpg") no-repeat -150px center;
    width: 100%;
    background-size: cover;
}

.bg3::after {
    background: var(--vignette), url("../img/plemisari-slide-sin-marca.jpg") no-repeat -150px center;
    width: 100%;
    background-size: cover;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.bg-auto::after {
    max-height: 100%;
    background-size: cover;
}

.title-container {
    margin: auto;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background: radial-gradient(circle at 50% 0%, rgba(100,200, 300,0.2) 0%, rgba(0,0,0,1)) 30%, rgba(0,0,0,1) 100%;
    padding: 20px;
}

.main-logo h1 {
    display: block;
    margin: 0;
    text-align: center;
    color: white;
    font-family: othilla-title;
    font-size: max(10vw, 10px);
}

.main-logo {
    color: white;
    width: 100%;
}

.main-logo img {
    text-align: center;
    width: 50%;
    max-width: 300px;
    padding-bottom: 5px;
    -webkit-filter: drop-shadow(0px 5px 2px rgba(0,0,0,1));
    -moz-filter: drop-shadow(0px 5px 2px rgba(0,0,0,1));
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,1));
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 400px auto;
    min-height: 1200px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: black;
}

.description-text-white {
    margin: auto;
    color: rgb(230, 230, 230);
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 0px;
    font-size: 20px;
    text-align: justify;
    opacity: 1.0;
}

.glow-title {
    color: white;
    font-family: othilla-text;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 20px rgb(47, 118, 184), 0px 0px 20px rgb(47, 118, 184), 0px 0px 20px rgb(47, 118, 184);
    z-index: 2;
}

.card-grid {
    margin: auto;
    display: grid;
    grid-template-rows: 33% 33% 33%;
    grid-gap: auto;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.card-grid-root {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
}

.card-grid-content {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: auto auto;
    width: auto;
}

.card {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 130px;
    min-width: 100%;
    min-height: 130px;
    background: rgba(0, 8, 19, 0.7);
    border: 2px solid rgb(47, 118, 184);
    border-radius: 15px 0 15px 0;
    box-shadow: 0 0px 20px rgba(48, 90, 150, 0.4);
}

.card-img-top {
    margin: auto;
    margin-top: auto;
    margin-right: 50px;
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    filter: saturate(0);
}

.card-img-top img {
    width: 50%;
    max-width: 100px;
    box-sizing: border-box;
}

.card-title {
    margin: auto;
    color: white;
    font-family: othilla-title;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.card-text {
    margin: auto;
    margin: 0px;
    color: white;
    font-family: othilla-text;
    font-size: 16px;
    box-sizing: border-box;
    pointer-events: none;
    text-align: center;
}

.button-outline {
    background-color: black;
    border: 1px solid rgb(86, 207, 255);
    box-shadow: 0 30px 1em rgba(0, 183, 255, 0.2);
}

.button-outline:hover {
    background-color: black;
    box-shadow: inset 0 0 1em rgba(0, 183, 255, 0.8);
}

.top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.fade-in-title {
    animation: 3s ease 0s normal forwards fade-position;
    -webkit-animation: 3s ease 0s normal forwards fade-position;
    opacity: 1;
}

@keyframes fade-position {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        -webkit-transform- translateX(-50px);
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

#loader {
    margin: auto;
    left: 50vh;
    top: 50vw;
    position: absolute;
    opacity: 1;
    z-index: 2000;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in-logo,
.glow-title,
.description-text-white {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier();
    animation-duration: 5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 568px) {
.parallax::after {
    transform: translateZ(-1px) scale(1.2);
    min-height: 250px;
    min-width: 250px;
}

    .container {
        width: 100%;
    }
    .title-container {
        margin: auto;
        margin-top: 40px;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    	background: black;
        padding: 10px;
    }
    .main-logo {
        color: white;
        width: 100%;
    }
    .main-logo img {
        padding-right: 5px;
        width: 100%;
        max-width: 90px;
    }
    .main-logo h1 {
        margin: 0;
        display: inline-block;
        color: white;
        font-family: othilla-title;
        font-size: 80px;
        vertical-align: -25px;
    }
    .card-grid {
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-gap: 0px 5px;
        grid-auto-flow: row;
        align-items: center;
        justify-items: center;
        box-sizing: border-box;
    }
    .card-grid-root {
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        display: grid;
        grid-template-columns: auto;
        width: auto;
    }
    .card-grid-content {
        margin: auto;
        margin-top: 10px;
        margin-bottom: auto;
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
    }
    .card {
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 160px;
        min-width: 100px;
        min-height: 230px;
        padding: 10px;
        background: rgba(0, 8, 19, 0.7);
        border: 2px solid rgb(47, 118, 184);
        border-radius: 15px 0 15px 0;
        box-sizing: border-box;
        box-shadow: 0 0px 20px rgba(48, 90, 150, 0.4);
    }
    .card-img-top {
        margin: auto;
        margin-top: 10px;
        width: 100%;
        max-width: 100px;
        border-radius: 50%;
        border: 5px solid white;
        filter: saturate(0);
    }
    .card-img-top img {
        width: 50%;
        max-width: 100px;
        box-sizing: border-box;
    }
    .card-title {
        margin: auto;
        color: white;
        font-family: othilla-title;
        font-size: 18px;
        text-align: center;
        vertical-align: middle;
    }
    .card-text {
        margin: auto;
        margin: 0px;
        color: white;
        font-family: othilla-text;
        font-size: 16px;
        box-sizing: border-box;
        pointer-events: none;
        text-align: center;
    }
    .bg1::after {
        background: var(--vignette), url("../img/gamepad.jpg") no-repeat center;
        width: 100%;
        background-size: cover;
    }
    .bg2::after {
        background: var(--vignette), url("../img/wire-frame_web_multi.jpg") no-repeat center;
        width: 100%;
        background-size: cover;
    }
    .bg3::after {
        background: var(--vignette), url("../img/plemisari-slide-sin-marca.jpg") no-repeat center;
        width: 100%;
        background-size: cover;
    }
}
