/* fonts */

@font-face{
    font-family: othilla-title;
    src: url('../font/Heimdal.ttf');
  }
  
  @font-face{
    font-family: othilla-text;
    src: url('../font/Vanadine_Bold.ttf');
  
  }
  
  @font-face{
    
  
    font-family: othilla-prime-regular;
    src: url('../font/Sreda-Regular.ttf');
  
  }